swagger: '2.0'
info:
  description: RESTful API for the Denner Translations
  version: 1.0.0
  title: Denner Translations Web Service
  contact:
    name: DETAIL NET
    email: support+denner-translations-api@detailnet.ch
host: denner-translations-api-v1.detailnet.ch
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  appId:
    type: apiKey
    description: Application identifier
    name: App-ID
    in: header
  appKey:
    type: apiKey
    description: Application key
    name: App-Key
    in: header
paths:
  ### @todo: ONLY initial stubs, has to be continued
  /exports:
    post:
      summary: Export open translation jobs
      description: >
        Use this operation to generate the file of translations for a specific language.
      operationId: exportTranslations
      responses:
        200:
          description: File url

  /imports:
    post:
      summary: Import translated translation jobs
      description: >
        Use this operation to integrate the translations for a specific language.
      operationId: importTranslations
      responses:
        200:
          description: Import report

  /items/{item_type}/{item_id}/jobs:
    get:
      summary: List translation jobs for a specific item
      operationId: listJobs
      responses:
        200:
          description: List of translations for the item

  /jobs:
    get:
      summary: List translation jobs
      operationId: listJobs
      responses:
        200:
          description: List translations
    post:
      summary: New translation job
      operationId: saveJob
      responses:
        200:
          description: Translation job

  /jobs/{job_id}:
    delete:
      summary: Delete translation job
      operationId: deleteJob
      responses:
        200:
          description: Empty response
    patch:
      summary: Update translation job
      operationId: saveJob
      responses:
        200:
          description: Translation job


parameters:
  PageParam:
    name: page
    description: >
      The page number.
      Default: 1
    in: query
    type: integer
    required: false
    format: int32
    minimum: 0
    default: 1
  PageSizeUnlimitableParam:
    name: page_size
    description: >
      The page size that might be unlimited.
      Default: -1 (no limit)
    in: query
    type: integer
    required: false
    format: int32
    default: -1
  PageSizeParam:
    name: page_size
    description: >
      The page size.
      Default: 10
    in: query
    type: integer
    required: false
    format: int32
    minimum: 1
    maximum: 100
    default: 10
  SortParam:
    name: sort
    description: >
      Sort the results, e.g. "sort=name__desc" will sort by name (Z to A)
    in: query
    type: string
    required: false

definitions:
  ### Common
  UUIDv4:
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
    description: Unique identifier

  Locale:
    type: string
    pattern: '/^(de|fr|it)$/'
    description: Locale

  Url:
    type: string
    description: Web URL address
#    pattern: @todo Fixed pattern?

  Date:
    type: string
    format: date
    description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'

  ### Collections

  ### Responses
#  StoresResponse:
#    type: object
#    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
#      total_items:
#        description: The number of items on all pages
#        type: integer
#        format: int32
#      stores:
#        $ref: '#/definitions/Stores'

